[submodule "vimconfig"]
	path = vimconfig
	url = git@github.com:milkncookey/vimconfig.git
[submodule "tmuxconfig"]
	path = tmuxconfig
	url = git@github.com:milkncookey/tmuxconfig.git
[submodule "profileconfig"]
	path = profileconfig
	url = git@github.com:milkncookey/profileconfig.git
[submodule "zshconfig"]
	path = zshconfig
	url = git@github.com:milkncookey/zshconfig.git
[submodule "fontconfig"]
	path = fontconfig
	url = git@github.com:milkncookey/fontconfig.git
